@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Titillium+Web:wght@600&family=Work+Sans:wght@400;500;600;700&display=swap");

/* Body */
body {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
}

/* Nav Styles */
.nav-sec {
  background-color: #ff900e10;
}
nav {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-menu {
  margin-right: 240px;
}

.logo h2 {
  font-weight: 700;
  font-size: 40px;
  margin-left: 228px;
  margin-top: 50px;
}

.nav-menu ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
}

.nav-menu ul li {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
}

.hero-text {
  padding-left: 529px;
  padding-right: 529px;
}

.hero-text h1 {
  text-align: center;
  font-size: 65px;
}

.hero-text p {
  text-align: center;
  color: #727272;
}

.explore-btn {
  margin-left: 820px;
  margin-right: 820px;
  padding: 25px;
  padding-right: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #ff900e;
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  border: none;
  border-radius: 5%;
  margin-top: 35px;
  margin-bottom: 35px;
}

.nav-sec img {
  width: 1440px;
  height: 700px;
  padding-left: 220px;
  padding-right: 220px;
  margin-bottom: 45px;
}

/* Features section */
.features {
  display: flex;
  margin-left: 300px;
  margin-right: 300px;
}
.feature-images {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.feature-images img {
  width: 342px;
  height: 342px;
}

.feature-list {
  padding: 90px;
  width: 50%;
  margin-top: 150px;
}

.feat-heading {
  font-size: 45px;
  font-weight: 400;
}

#of-our-style {
  font-weight: bold;
}

#features-style {
  color: #FF900E;
  font-weight: 700;
}

.feat-text {
  color: #727272;
  margin-bottom: 30px;
}

.feat-btn {
  background-color: #ff900e;
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  border: none;
  border-radius: 5%;
  padding: 20px;
}